/* ALL COLORS FOR TEXT ARE #fbf2f2 */
/* ALL HEADING COLORS ARE #ff6600 */
/* ALL NAV LINKS COLORS ARE rgb(12, 228, 117) */
/* ALL HOVER COLORS ARE rgb(247, 5, 45) */
/* ALL BACK-GROUND COLOR IS #272626 */
/* THIS IS THE BODY FOR ALL WEBPAGES */
/* ALL CONTENT BORDER COLORS rgba(250, 246, 246, 0.3) */


body {
    color: #fbf2f2;
    background-color: #272626;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    line-height: 1.6;
}

/* Headings Color */
h1, h2 {
  color: #ff6600;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

/* nav */
.tab-nav {
  text-align: center;
}

/* Navigation Tabs */
.tab-nav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #272626;
  border: 1px solid rgba(250, 246, 246, 0.3);
  border-radius: 8px;
  overflow: hidden;
  justify-content: center; /* optional if needed */
  font-size: 30px;
}

/* Navigation List Spacing */
.tab-nav li {
  margin: 20px;
}

/* Navigation Links */
.tab-nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fbf2f2;
  background-color: #272626;
  border-right: 1px solid rgba(250, 246, 246, 0.3);
}

/* Navigation Hover Color */
.tab-nav a:hover {
  color: rgb(247, 5, 45);
}

/* Introduction on Book Appointments */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Footers */
.homepagefooter {
  text-align: center;
  padding: 18px;
  font-size: 24px;
  color: rgb(12, 228, 117);
}

/* Footers */
.homepagefooter a {
  color: rgb(12, 228, 117);
  text-decoration: none;
}
/* Footer Hover */
.homepagefooter a:hover {
  color: rgb(247, 5, 45); 
  text-decoration: underline; 
}
  
/* Logo */
.site-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;         
  height: auto;         
  max-width: 20%;       
  z-index: 1000;
}





















    
