body {
    color: #dad1d1;
    background-color: #4e4b4b;body;
    font-family: 'Spectral', serif;
    font-size: 18px;
    line-height: 1.6;

}
nav {
  padding: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
  display: flex;
  justify-content: center; /* centers the items horizontally */
  list-style: none;        /* removes bullets */
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 60px; /* spacing between links */
}

nav a {
  text-decoration: none;
  color: rgb(225, 45, 17);
  font-weight: bold;
  font-size: 24px;
}

nav a:hover {
  color: red;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.homepagefooter {
  text-align: center;
  padding: 18px;
  font-size: 14px;
}





    
