/* This is the body for all webpages */
body {
    color: #f30c0c;
    background-color: #272626;
    font-family: 'Spectral', serif;
    font-size: 18px;
    line-height: 1.6;
}

/* Navigation */
nav {
  padding: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navigation Links */
nav ul {
  display: flex;
  justify-content: center; /* centers the items horizontally */
  list-style: none;        /* removes bullets */
  padding: 0;
  margin: 0;
}

/* Navigation Links */
nav li {
  margin: 0 60px; /* spacing between links */
}

/* Navigation Link Color */
nav a {
  text-decoration: none;
  color: rgb(225, 45, 17);
  font-weight: bold;
  font-size: 24px;
}

/* Navigation Hover Color */
nav a:hover {
  color: red;
}

/* Introduction on Homepage */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Footer on Homepage */
.homepagefooter {
  text-align: center;
  padding: 18px;
  font-size: 14px;
}


.horoscope-box {
  width: 800px;
  min-height: 300px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f00b0b;
  border: 3px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}


.horoscope-box h2 {
  margin-top: 0;
  font-size: 28px;
  color: #333;
}


.horoscope-box p {
  color: #444;
}






    
